#bam {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ------WHY CHOOSE US-------------------------WHY CHOOSE US---------------------------------WHY CHOOSE US---- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

.choose {
  padding: 80px 0px;
  font-family: "Inter", sans-serif;
  background-color: #e2e8f0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.choose .container {
  padding: 0;
}
.choose .header-choose {
  display: flex;
  position: relative;
  height: 100px;
  transition: 1s;
  margin-bottom: 30px;
}
.choose .header-choose h1 {
  letter-spacing: 0.2em;
  white-space: nowrap;
  font-size: 40px;
  margin-top: 40px;
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  font-weight: 900;
  color: #2b2b29;
}
.choose .header-choose h1:nth-child(1) {
  transform: translateX(-100%);
  animation: geser0 8s linear infinite 0s;
}
.choose .header-choose h1:nth-child(2) {
  transform: translateX(0%);
  animation: geser1 8s linear infinite 0s;
}
.choose .header-choose h1:nth-child(3) {
  transform: translateX(100%);
  animation: geser2 8s linear infinite 0s;
}
.choose .header-choose h1:nth-child(4) {
  transform: translateX(200%);
  animation: geser3 8s linear infinite 0s;
}
.choose .header-choose h1:nth-child(5) {
  transform: translateX(300%);
  animation: geser4 8s linear infinite 0s;
}
@keyframes geser0 {
  to {
    transform: translateX(-200%);
  }
}
@keyframes geser1 {
  to {
    transform: translateX(-100%);
  }
}
@keyframes geser2 {
  to {
    transform: translateX(0%);
  }
}
@keyframes geser3 {
  to {
    transform: translateX(100%);
  }
}
@keyframes geser4 {
  to {
    transform: translateX(200%);
  }
}
.choose .slider {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose .slider .button-slider {
  height: 50px;
  display: none;
}
.choose .slider .button-slider button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  position: absolute;
  z-index: 1;
  transform: translateY(20px);
}
.choose .slider .button-slider button.slider-previous {
  left: 0%;
}
.choose .slider .button-slider button.slider-next {
  right: 0%;
}
.choose .slider .indicator-slider {
  position: absolute;
  z-index: 10;
  bottom: -4%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 99;
}
.choose .slider .indicator-slider button {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  background-color: #ffc01f;
}
.choose .slider .indicator-slider button:not(.btn-warning) {
  opacity: 0.5;
}
.choose .slider .board-slider {
  position: relative;
  height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 48px;
  padding-right: 48px;
}

.choose .slider .board-slider::-webkit-scrollbar {
  display: none;
}

.choose .slider .board-slider .slider-items {
  background-color: #e2e8f0;
  height: 320px;
  min-width: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: -4px -4px 12px #f8fbff, 5px 5px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 25px;
  margin-right: 30px;
  color: #2d3748;
  transition: 0.3s;
}

.choose .slider .board-slider .slider-items:not(.showup) {
  display: none;
}

/* .choose .slider .board-slider .slider-items .image {
  min-height: 55px;
  min-width: 55px;
  max-width: 55px;
  max-height: 55px;
  padding: 10px;
  border-radius: 15px;
  margin-right: 14px !important;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.choose .slider .board-slider .slider-items img {
  margin-right: 14px !important;
}
.choose .slider .board-slider .slider-items h3 {
  font-size: 20px;
  font-weight: 800;
}
.choose .slider .board-slider .slider-items p {
  font-size: 16px;
  margin-top: 30px !important;
}
.choose .button a {
  font-family: "Inter", sans-serif;
  width: 280px;
  margin-top: 50px;
  border-radius: 9px;
  background-color: #2b2b29;
  color: white;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.choose .button a:hover {
  background-color: #ffa600;
}
@media (min-width: 375px) {
  .choose .slider .board-slider {
    width: 75%;
  }
  .choose .slider .board-slider .slider-items {
    height: auto;
    min-height: 270px;
    padding: 40px 40px;
  }
  .choose .slider .board-slider .slider-items img {
    /* min-height: 65px;
    min-width: 65px;
    max-width: 65px;
    max-height: 65px;
    padding: 10px; */
    margin-right: 15px !important;
  }

  .choose .slider .board-slider .slider-items h3 {
    font-size: 22px;
    font-weight: 800;
  }
}

@media (min-width: 480px) {
  .choose .slider .board-slider {
    width: 70%;
  }
}
@media (min-width: 576px) {
  .choose .container {
    padding: auto;
  }
  .choose .slider {
    width: 86%;
    height: 380px;
    margin: 0 auto;
  }
  .choose .header-choose {
    margin-bottom: 0px;
  }
  .choose .header-choose h1 {
    font-size: 32px;
    width: 470px;
  }
  .choose .slider .board-slider {
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
  }
  .choose .slider .button-slider {
    display: block;
  }
  .choose .slider .button-slider button {
    height: 38px;
    width: 38px;
    font-size: 24px;
  }
  .choose .slider .indicator-slider {
    bottom: -15px;
    top: unset;
  }

  .choose .slider .board-slider .slider-items {
    height: 270px;
    min-height: auto;
    padding: 46px;
    margin-right: 45px;
  }

  .choose .slider .board-slider .slider-items img {
    /* max-height: 85px;
    min-height: 85px;
    min-width: 85px;
    max-width: 85px; */
    margin-right: 23px;
    /* padding: 15px; */
  }

  .choose .slider .board-slider .slider-items h3 {
    font-size: 28px;
    font-weight: 800;
  }
  .choose .slider .board-slider .slider-items p {
    font-size: 14px;
    margin-top: 24px !important;
  }
  .choose .slider .button-slider button.slider-previous {
    left: -11%;
  }
  .choose .slider .button-slider button.slider-next {
    right: -11%;
  }
}

@media (min-width: 768px) {
  .choose .slider {
    height: 420px;
    width: 82%;
  }

  .choose .slider .board-slider .slider-items {
    height: 325px;
    padding: 50px;
  }
  .choose .slider .board-slider .slider-items img {
    /* min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    padding: 20px; */
    margin-right: 32px;
  }

  .choose .slider .board-slider .slider-items h3 {
    font-size: 32px;
    font-weight: 800;
  }
  .choose .slider .board-slider .slider-items p {
    font-size: 17px;
    margin-top: 34px !important;
  }
  .choose .slider .button-slider button.slider-previous {
    left: -11%;
  }
  .choose .slider .button-slider button.slider-next {
    right: -11%;
  }
  .choose .button a {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .choose .header-choose {
    margin-bottom: 0px;
  }
  .choose .header-choose h1 {
    font-size: 36px;
    width: 520px;
    margin-top: 55px;
  }
  .choose .slider {
    height: 280px;
    width: 100%;
    overflow: hidden;
  }

  .choose .slider .board-slider {
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
  }
  .choose .slider .board-slider .slider-items img {
    /* min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
    padding: 10px; */
    max-height: 60px;
    margin-right: 15px;
  }

  /* .choose .slider .board-slider .slider-items img img:not(.center) {
    min-height: 50px;
    transform: translateX(-1px);
  } */
  .choose .slider .board-slider .slider-items.center {
    margin: 0px 27px;
  }
  .choose .slider .board-slider .slider-items {
    height: 200px;
    min-width: 260px;
    max-width: 260px;
    padding: 27px;
    margin-right: 0px;
  }
  .choose .slider .board-slider .slider-items h3 {
    font-size: 17px;
    font-weight: 800;
  }
  .choose .slider .board-slider .slider-items p {
    font-size: 10px;
    margin-top: 18px !important;
  }
  .choose .button a {
    border-radius: 10px;
    margin-top: 0px;
    width: 260px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .choose .header-choose h1 {
    font-size: 40px;
  }
  .choose .slider {
    height: 330px;
  }
  .choose .slider .board-slider .slider-items {
    height: 220px;
    min-width: 300px;
    max-width: 300px;
    padding: 31px;
  }
  /* .choose .slider .board-slider .slider-items .image {
    min-height: 55px;
    max-height: 55px;
    min-width: 55px;
    max-width: 55px;
  } */
  .choose .slider .board-slider {
    justify-content: center;
  }
  .choose .slider .board-slider .slider-items.center {
    margin: 0px 30px;
  }

  .choose .slider .board-slider .slider-items h3 {
    font-size: 21px;
  }
  .choose .slider .board-slider .slider-items p {
    font-size: 12px;
    margin-top: 20px !important;
  }
  .choose .button a {
    width: 300px;
    height: 52px;
    margin-top: 0px;
    font-size: 15px;
    border-radius: 11px;
  }
}
@media (min-width: 1400px) {
  .choose .header-choose h1 {
    font-size: 56px;
    width: 800px;
  }
  .choose .slider {
    padding-top: 50px;
    height: 390px;
  }
  .choose .slider .board-slider {
    justify-content: center;
  }
  .choose .slider .board-slider .slider-items {
    height: 280px;
    min-width: 380px;
    max-width: 380px;
    padding: 48px;
  }
  .choose .slider .board-slider .slider-items.center {
    margin: 0px 50px;
  }
  .choose .slider .board-slider .slider-items img {
    /* min-height: 76px;
    max-height: 76px;
    min-width: 76px;
    max-width: 76px; */
    max-height: 76px;

    margin-right: 24px;
  }
  .choose .slider .board-slider .slider-items p {
    font-size: 14px;
    margin-top: 24px !important;
  }
  .choose .slider .board-slider .slider-items h3 {
    font-size: 30px;
    font-weight: 800;
  }
  .choose .button a {
    margin-top: 24px;
    width: 380px;
    height: 70px;
    font-size: 20px;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ------BLOG SECTION--------------------------BLOG SECTION-----------------------------------BLOG SECTION---- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
.blog {
  margin-top: -1px;
  margin-bottom: -2px;
  font-family: "Inter", sans-serif;
  padding: 80px 0px;
  background-color: #e2e8f0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.blog .judul h1 {
  font-weight: 900;
  font-size: 23px;
  color: #2b2b29;
}
.blog .judul p {
  letter-spacing: 0.1rem;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 12px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  color: #2b2b29;
}
.blog .slider-blog {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .slider-blog .board-slider-blog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-x: hidden;
}
.blog .slider-blog .board-slider-blog .card {
  background-color: #e2e8f0;
  height: auto;
  min-width: 100%;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: -4px -4px 12px #f8fbff, 5px 5px 8px rgba(0, 0, 0, 0.1);
  margin-right: 45px;
  border: none;
  color: #2b2b29;
  transition: 0.3s;
}
.blog .slider-blog .board-slider-blog .card.center {
  margin: 47px 0px;
}
.blog .slider-blog .board-slider-blog .card .card-link {
  color: #d4a325;
  font-size: 12px;
}
.blog .card .card-title {
  font-size: 15px;
  margin-bottom: 10px;
}
.blog .card .card-text {
  font-size: 12px;
}
.blog .button a {
  width: 90%;
  font-size: 14px;
  border-radius: 9px;
}

@media (min-width: 375px) {
  .blog .slider-blog .board-slider-blog {
    width: 95%;
  }
  .blog .slider-blog {
    width: 92%;
    margin: 0 auto;
  }
  .blog .judul h1 {
    font-size: 32px;
  }
  .blog .judul p {
    letter-spacing: 0em;
    font-size: 16px;
    width: 80%;
  }

  .blog .slider-blog .board-slider-blog .card img {
    max-height: 250px;
  }
  .blog .card .card-title {
    font-size: 17px;
  }
  .blog .button a {
    width: 80%;
  }
}
@media (min-width: 576px) {
  .blog .slider-blog {
    width: 84%;
    height: 100%;
    padding: 20px;
  }
  .blog .judul h1 {
    font-size: 28px;
  }
  .blog .judul p {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: -10px;
  }
  .blog .slider-blog .board-slider-blog {
    padding: 20px;
    width: 90%;
  }
  .blog .slider-blog .board-slider-blog .card {
    height: 100%;
  }

  .blog .card .card-title {
    font-size: 20px;
  }
  .blog .card .card-text {
    font-size: 14px;
  }
  .blog .button a {
    width: 320px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .blog .slider-blog {
    width: 65%;
    padding: 20px;
  }
  .blog .judul h1 {
    font-size: 32px;
  }
  .blog .judul p {
    font-size: 16px;
  }
  .blog .slider-blog .board-slider-blog {
    width: 95%;
  }
  .blog .slider-blog .board-slider-blog .card {
    height: 100%;
  }
  .blog .button a {
    width: 360px;
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .blog .judul h1 {
    font-size: 38px;
  }
  .blog .judul p {
    margin-top: 28px !important;
    margin-bottom: 14px !important;
    font-size: 18px;
  }
  .blog .slider-blog {
    width: 100%;
    padding: 0px;
  }
  .blog .slider-blog .board-slider-blog {
    min-width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .blog .slider-blog .board-slider-blog .card {
    height: auto;
    min-width: 275px;
    max-width: 275px;
    margin-right: 0px;
  }

  .blog .button a {
    width: 275px;
    border-radius: 12px;
    padding: 3px 0px;
    font-size: 15px;
  }

  .blog .slider-blog .board-slider-blog .card.center {
    margin: 0px 40px;
  }
  .blog .card .card-title {
    font-size: 14px;
    line-height: 23px;
  }
  .blog .card .card-text {
    font-size: 11px;
    line-height: 15px;
  }
  .blog .card .card-link {
    font-size: 9px;
  }
}
@media (min-width: 1200px) {
  .blog .judul h1 {
    font-size: 44px;
  }
  .blog .slider-blog .board-slider-blog .card img {
    min-height: 250px;
    object-fit: cover;
  }
  .blog .judul p {
    margin-top: 28px !important;
  }
  .blog .slider-blog .board-slider-blog {
    justify-content: center;
  }
  .blog .slider-blog .board-slider-blog .card {
    min-width: 330px;
    max-width: 330px;
    margin-right: 0px;
  }
  .blog .slider-blog .board-slider-blog .card.center {
    margin: 0px 40px;
  }
  .blog .card .card-title {
    font-size: 16px;
  }
  .blog .card .card-text {
    font-size: 12px;
  }
  .blog .card .card-link {
    font-size: 11px;
  }
  .blog .button a {
    font-size: 16px;
    padding: 7px 0px;
    width: 330px;
  }
}
@media (min-width: 1400px) {
  .blog .judul h1 {
    font-size: 56px;
  }
  .blog .judul p {
    margin-top: 38px !important;
    margin-bottom: 19px !important;
  }
  .blog .slider-blog .board-slider-blog .card img {
    /* min-height: 220px; */
  }
  .blog .slider-blog .board-slider-blog .card.center {
    margin: 0px 50px;
  }
  .blog .slider-blog .board-slider-blog .card {
    min-width: 380px;
    max-width: 380px;
  }

  .blog .card .card-title {
    font-size: 20px;
    line-height: 27px;
  }
  .blog .card .card-text {
    font-size: 14px;
    line-height: 23px;
  }
  .blog .card .card-link {
    font-size: 12px;
  }
  .blog .button a {
    width: 380px;
    padding: 10px;
    font-size: 18px;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ------FORM SECTION--------------------------FORM SECTION-----------------------------FORM SECTION---------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

.formSection {
  position: relative;
  background-color: #edf2f7;
  z-index: 1;
  font-family: "Inter", sans-serif;
}
.formSection::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  height: 40px;
  border-radius: 0px 0px 30px 30px;
  background-color: #edf2f7;
  width: 100%;
}
.formSection .back-button {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  z-index: 8;
}
.formSection .formContent {
  padding: 65px 0px;
}
.formSection img.element-oval {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 400px;
  width: 100%;
  z-index: 0;
}
.formSection img.element-footer {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  max-height: 100px;
  width: 100%;
  z-index: 3;
}

/* Animate Fade for People At Form Section */
.formSection .image-form img {
  position: absolute;
  z-index: 2;
  max-height: 350px;
  opacity: 0;
  overflow: hidden;
  animation: animate 15s linear infinite 0s;
}
.formSection .image-form img:nth-child(1) {
  animation-delay: 0s;
}
.formSection .image-form img:nth-child(2) {
  animation-delay: 5s;
}
.formSection .image-form img:nth-child(3) {
  animation-delay: 10s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  36% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
}

.formSection .card-form {
  box-shadow: -10px -10px 25px #f1f8ff, 10px 10px 15px rgba(0, 0, 0, 0.1);
  transition: 2s;
  background-color: white;
  border-radius: 20px;
  padding: 35px 30px;
  color: #2d3748;
}
.formSection .card-form h3:nth-child(1) {
  font-weight: 800;
}
.formSection .card-form h3:nth-child(1) span {
  color: #ffc42f;
}

.formSection input,
.formSection select {
  border: 1px solid #ededed;
  background-color: #f7fafc;
  color: #a0aec0;
  font-size: 12px;
  padding: 7px 10px;
  margin-top: 5px;
}
.formSection input::placeholder {
  color: #a0aec0;
}
.formSection label {
  color: #2d3748;
  font-weight: 700;
  font-size: 13px;
}
.formSection button {
  color: #2d3748;
  font-weight: 600;
  margin-top: 15px;
}
@media (min-width: 576px) {
  .formSection::after {
    height: 50px;
    border-radius: 0px 0px 50px 50px;
  }
  .formSection .image-form .background-form {
    height: 280px;
    width: 250px;
  }
}
@media (min-width: 768px) {
  .formSection::after {
    height: 60px;
    border-radius: 0px 0px 50px 50px;
  }
  .formSection .formContent {
    padding: 100px;
  }
  .formSection label {
    font-size: 16px;
  }
  .formSection input,
  .formSection select {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .formSection {
    margin-bottom: 140vh;
  }
  .formSection .card-form h3:nth-child(1) {
    font-weight: 900;
    font-size: 24px;
  }
  .formSection .back-button {
    bottom: -85px;
  }
  .formSection label {
    font-size: 13px;
  }
  .formSection input,
  .formSection select {
    font-size: 11px;
  }
  .formSection .image-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* transform: translateY(100%); */
    transition: 2s;
  }
  .formSection .image-form img {
    max-height: 480px;
    bottom: 10%;
  }
  .formSection .image-form img:nth-child(1) {
    transform: translateX(10%);
  }
  .formSection .image-form .background-form {
    position: absolute;
    z-index: 1;
    background-color: #ffcf54;
    height: 360px;
    width: 315px;
    bottom: 10%;
    border-radius: 20px;
  }
}
@media (min-width: 1200px) {
  .formSection::after {
    height: 130px;
    border-radius: 0px 0px 70px 70px;
  }
  .formSection .image-form img {
    max-height: 500px;
  }
  .formSection .image-form .background-form {
    height: 370px;
    width: 330px;
  }
  .formSection {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .formSection {
    margin-bottom: 0vh;
  }
  .formSection input,
  .formSection select {
    font-size: 13px;
  }
  .formSection label {
    font-size: 18px;
  }
  .formSection .image-form img {
    max-height: 550px;
    bottom: 8%;
  }
  .formSection .image-form .background-form {
    bottom: 8%;
  }
  .formSection button {
    font-size: 16px;
  }
  .formSection h3 {
    font-size: 32px;
  }
}
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ------FOOTER--------------------------------FOOTER-----------------------------------------FOOTER---------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

footer {
  font-family: "Inter", sans-serif;
  position: relative;
  background-color: #2b2b29;
  color: white;
  overflow: hidden;
  z-index: 0;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
footer img.footer-element {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
footer .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 260px 310px 370px;
  grid-template-areas:
    "join"
    "social"
    "image";
  row-gap: 10px;
  column-gap: 10px;
  z-index: 3;
}
footer .grid-container .join {
  grid-area: join;
  padding: 30px 0px;
  border-bottom: 1px solid white;
  text-align: center;
}
footer .grid-container .join button {
  background-color: #ffcf54;
  font-weight: 600 !important;
  box-shadow: 13px 14px 21px rgba(0, 0, 0, 0.5);
  font-size: 14px !important;
  padding: 10px 0px;
  margin: 0 auto;
  border-radius: 7px;
  box-sizing: border-box;
  transition: 0.3s;
}
footer .grid-container .join button:hover {
  background-color: #ffc01f;
  box-shadow: 5px 18px 28px rgba(0, 0, 0, 0.5);
}
footer .grid-container .join h2 {
  font-weight: 700;
}

footer .grid-container .konten {
  grid-area: social;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  margin-top: 15px;
}
footer .grid-container .konten span.subjudul {
  border-bottom: 3px solid #ffcf54;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
footer .grid-container .konten a {
  color: #f7fafc !important;
  transition: 0.3s;
}

footer .grid-container .konten a:hover {
  color: #ffcf54 !important;
}

footer .social a,
footer .grid-container .join a {
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #2b2b29 !important;
  background-color: #f7fafc;
  border-radius: 50%;
  transition: 0.3s;
}
footer .social a:hover,
footer .grid-container .join a:hover {
  background-color: #ffcf54;
}
footer .grid-container .image {
  grid-area: image;
  position: relative;
}
footer .image .image-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
footer .image .image-list img:not(.footer-people) {
  position: absolute;
  max-height: 120px;
}

footer img.footer-people {
  max-height: 210px;
  transform: translateX(90%);
}
footer img.eva-rec {
  align-self: flex-start;
  transform: translateX(27%) translateY(50%);
  z-index: 2;
}
footer img.eva-talent {
  align-self: center;
  transform: translateX(-40%) translateY(5%);
  z-index: 2;
}
footer img.eva-essen {
  align-self: bottom;
  transform: translateX(-80%) translateY(-25%);
  z-index: 2;
}
footer span.eva-essen-span,
footer span.eva-rec-span,
footer span.eva-talent-span {
  align-self: center;
  transition: 0.3s;
  box-shadow: 0 0 0 0 rgba(180, 102, 0, 0.384);
  animation: pulsing 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: 99;
  border-radius: 50%;
  background-color: #d4a325;
  z-index: 1;
}
footer span.eva-essen-span {
  transform: translateX(-444%) translateY(178%);
  min-height: 52px;
  min-width: 52px;
}
footer span.eva-talent-span {
  transform: translateX(-250%) translateY(7%);
  min-height: 52px;
  min-width: 52px;
}
footer span.eva-rec-span {
  transform: translateX(2%) translateY(-129%);
  min-height: 52px;
  min-width: 52px;
}
@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 35px rgba(173, 173, 173, 0);
  }
}
footer img.white1 {
  align-self: flex-start;
  transform: translateX(15%) translateY(10%);
  min-height: 180px;
  opacity: 0.2;
}
footer img.white2 {
  align-self: bottom;
  transform: translateX(-65%) translateY(-10%);
  min-height: 160px;
  opacity: 0.2;
}

footer .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 40px;
  margin-bottom: -10px;
}

footer .copyright span {
  border-radius: 10px 10px 0 0;
  font-size: 8px;
  background-color: #4b4b4b;
  padding: 10px 10px;
  margin-bottom: 20px;
}
@media (min-width: 375px) {
  footer .grid-container {
    grid-template-rows: 300px 340px 380px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "join"
      "social"
      "image";
  }
  footer .grid-container .konten {
    font-weight: 400;
    font-size: 13px;
  }

  footer .image .image-list img:not(.footer-people) {
    max-height: 140px;
  }
  footer img.eva-rec {
    transform: translateX(30%) translateY(-20%);
  }
  footer img.eva-talent {
    transform: translateX(-40%) translateY(-35%);
  }
  footer img.eva-essen {
    transform: translateX(-70%) translateY(-40%);
  }
  footer span.eva-essen-span {
    transform: translateX(-460%) translateY(105%);
    min-height: 60px;
    min-width: 60px;
  }
  footer span.eva-talent-span {
    transform: translateX(-290%) translateY(-85%);
    min-height: 60px;
    min-width: 60px;
  }
  footer span.eva-rec-span {
    transform: translateX(-27%) translateY(-250%);
    min-height: 60px;
    min-width: 60px;
  }
  footer img.white1 {
    transform: translateX(20%) translateY(-25%);
    min-height: 200px;
  }
  footer img.white2 {
    transform: translateX(-50%) translateY(-10%);
    min-height: 220px;
  }
  footer img.footer-people {
    max-height: 300px;
    transform: translateX(75%);
  }
  footer .copyright {
    margin-bottom: -5px;
  }
  footer .copyright span {
    font-size: 10px;
    padding: 13px 17px;
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) {
  footer .grid-container {
    grid-template-rows: 300px 340px 380px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "join"
      "social"
      "image";
  }
  footer .grid-container .konten {
    font-weight: 400;
    font-size: 13px;
  }
  footer .grid-container .join a {
    height: 35px;
    width: 35px;
  }
  footer .grid-container .join a img {
    height: 35px;
    width: 35px;
    object-fit: contain;
  }
  footer .image .image-list {
    justify-content: center;
    align-items: end;
  }
  footer .image .image-list img:not(.footer-people) {
    max-height: 150px;
  }
  footer img.eva-rec {
    transform: translateX(50%) translateY(-40%);
  }
  footer img.eva-talent {
    transform: translateX(-20%) translateY(-45%);
  }
  footer img.eva-essen {
    transform: translateX(-45%) translateY(-34%);
  }
  footer span.eva-essen-span {
    transform: translateX(-414%) translateY(97%);
    min-height: 65px;
    min-width: 65px;
  }
  footer span.eva-talent-span {
    transform: translateX(-254%) translateY(-108%);
    min-height: 65px;
    min-width: 65px;
  }
  footer span.eva-rec-span {
    transform: translateX(6%) translateY(-272%);
    min-height: 65px;
    min-width: 65px;
  }
  footer img.white1 {
    transform: translateX(35%) translateY(-35%);
    min-height: 200px;
  }
  footer img.white2 {
    transform: translateX(-37%) translateY(-10%);
    min-height: 220px;
  }
  footer img.footer-people {
    max-height: 340px;
    transform: translateX(94%);
  }
  footer .copyright {
    margin-bottom: 0px;
  }
  footer .copyright span {
    font-size: 13px;
    padding: 15px 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  footer {
    padding-top: 80px;
  }
  footer .grid-container {
    grid-template-rows: 360px 440px 420px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "join"
      "social"
      "image";
  }
  footer .grid-container .konten {
    padding-bottom: 120px;
    font-size: 17px;
  }
  footer .grid-container .konten span.subjudul {
    font-size: 22px;
  }
  footer .copyright {
    font-size: 14px;
  }

  footer .grid-container .join {
    text-align: start;
    margin-bottom: 30px;
  }
  footer .grid-container .join h2 {
    font-size: 34px;
  }
  footer .grid-container .join button {
    font-size: 18px !important;
    margin: 0;
  }

  footer .image .image-list img:not(.footer-people) {
    max-height: 190px;
  }
  footer img.eva-rec {
    transform: translateX(35%) translateY(-50%);
  }
  footer img.eva-talent {
    transform: translateX(-35%) translateY(-50%);
  }
  footer img.eva-essen {
    transform: translateX(-60%) translateY(-40%);
  }
  footer span.eva-essen-span {
    transform: translateX(-458%) translateY(47%);
    min-height: 80px;
    min-width: 80px;
  }
  footer span.eva-talent-span {
    transform: translateX(-298%) translateY(-120%);
    min-height: 80px;
    min-width: 80px;
  }
  footer span.eva-rec-span {
    transform: translateX(-33%) translateY(-266%);
    min-height: 80px;
    min-width: 80px;
  }
  footer img.white1 {
    transform: translateX(20%) translateY(-53%);
    min-height: 260px;
  }
  footer img.white2 {
    transform: translateX(-50%) translateY(-12%);
    min-height: 280px;
  }
  footer img.footer-people {
    max-height: 430px;
    transform: translateX(78%);
  }
  footer .copyright span {
    font-size: 16px;
    padding: 20px 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  footer {
    /* height: 100vh; */
    min-width: 100%;
    padding-top: 180px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
  }
  footer .grid-container {
    grid-template-rows: 200px 430px;
    grid-template-columns: 0.9fr 1.1fr;
    grid-template-areas:
      "join image"
      "social image";
  }
  footer .grid-container .konten {
    font-size: 13px;
  }
  footer .grid-container .konten span.subjudul {
    font-size: 14px;
  }
  footer .grid-container .join {
    padding: 0px 0px;
    margin-bottom: 0;
  }
  footer .grid-container .join h2 {
    font-size: 32px;
    font-weight: 800;
  }
  footer .image .image-list img:not(.footer-people) {
    max-height: 180px;
  }
  footer img.eva-rec {
    transform: translateX(25%) translateY(54%);
  }
  footer img.eva-talent {
    transform: translateX(-50%) translateY(-5%);
  }
  footer img.eva-essen {
    transform: translateX(-70%) translateY(-50%);
  }
  footer span.eva-essen-span {
    transform: translateX(-463%) translateY(173%);
    min-height: 80px;
    min-width: 80px;
  }
  footer span.eva-talent-span {
    transform: translateX(-318%) translateY(-14%);
    min-height: 80px;
    min-width: 80px;
  }
  footer span.eva-rec-span {
    transform: translateX(-49%) translateY(-168%);
    min-height: 80px;
    min-width: 80px;
  }
  footer img.white1 {
    transform: translateX(12%) translateY(20%);
    min-height: 280px;
  }
  footer img.white2 {
    transform: translateX(-55%) translateY(-10%);
    min-height: 310px;
  }
  footer img.footer-people {
    max-height: 410px;
    transform: translateX(72%);
  }
}

@media (min-width: 1200px) {
  footer {
    padding-top: 220px;
    bottom: 0;
  }
  footer .grid-container {
    grid-template-rows: 220px 420px;
  }
  footer .grid-container .join {
    padding-top: 70px;
    padding: 45px 0px;
  }
  footer .grid-container .join h2 {
    font-size: 28px;
  }
  footer .grid-container .join button {
    font-size: 20px !important;
  }
  footer .image .image-list img:not(.footer-people) {
    max-height: 190px;
  }
  footer img.eva-rec {
    transform: translateX(18%) translateY(27%);
  }
  footer img.eva-talent {
    transform: translateX(-50%) translateY(-30%);
  }
  footer img.eva-essen {
    transform: translateX(-70%) translateY(-65%);
  }
  footer span.eva-essen-span {
    transform: translateX(-516%) translateY(131%);
    min-height: 80px;
    min-width: 80px;
  }
  footer span.eva-talent-span {
    transform: translateX(-370%) translateY(-75%);
    min-height: 80px;
    min-width: 80px;
  }
  footer span.eva-rec-span {
    transform: translateX(-107%) translateY(-225%);
    min-height: 80px;
    min-width: 80px;
  }
  footer img.white1 {
    transform: translateX(10%) translateY(5%);
    min-height: 280px;
  }
  footer img.white2 {
    transform: translateX(-55%) translateY(-15%);
    min-height: 330px;
  }
  footer img.footer-people {
    max-height: 500px;
    transform: translateX(70%);
  }
}
@media (min-width: 1400px) {
  body {
    position: static;
  }
  footer {
    min-width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    padding-top: 220px;
  }

  footer .grid-container {
    grid-template-rows: 240px 440px;
  }
  footer .grid-container .konten {
    font-size: 14px;
  }
  footer .grid-container .konten span.subjudul {
    font-size: 15px;
  }
  footer .grid-container .join {
    padding: 30px 0px;
  }
  footer .image .image-list img:not(.footer-people) {
    max-height: 210px;
  }
  footer img.eva-rec {
    transform: translateX(15%) translateY(18%);
  }
  footer img.eva-talent {
    transform: translateX(-50%) translateY(-25%);
  }
  footer img.eva-essen {
    transform: translateX(-70%) translateY(-55%);
  }
  footer span.eva-essen-span {
    transform: translateX(-485%) translateY(135%);
    min-height: 90px;
    min-width: 90px;
  }
  footer span.eva-talent-span {
    transform: translateX(-340%) translateY(-60%);
    min-height: 90px;
    min-width: 90px;
  }
  footer span.eva-rec-span {
    transform: translateX(-85%) translateY(-227%);
    min-height: 90px;
    min-width: 90px;
  }

  footer img.white1 {
    transform: translateX(10%) translateY(5%);
    min-height: 280px;
  }
  footer img.white2 {
    transform: translateX(-60%) translateY(-20%);
    min-height: 330px;
  }
  footer img.footer-people {
    max-height: 500px;
  }
}
